.msctitle{
    font-size: 50px;
    font-family: 'stretch_proregular';
    padding-left: 40px;
    line-height: 30px;

}
.msctitle2{
    font-size: 50px;
    font-family: 'stretch_proregular';
    padding-left: 40px;
    -webkit-text-stroke: 0.5px black;
    color: white;
    
}
.msctitle3{
    font-size: 50px;
    font-family: 'stretch_proregular';
    padding-left: 40px;
    color: white;
    -webkit-text-stroke: 0.5px black;
    line-height: 30px;    
}

.titlemsc{
    float: right;
    padding-right: 40px;
}

.msctitle4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 11px;
    float: right;
    padding-right: 468px;
    padding-top: 12px;
}

.beatmake{
    font-size: 35px;
    text-align: center;
    line-height: 55px;
    font-family: 'holidays_homeworkregular';


}

.firsty{
   position: relative;
   float: right;
   top: -40px;
}

.msc{
    padding-top: 20px;
}

.two{
    font-family: 'stretch_proregular';
    position: relative;
    float: right;
    top:70px;
    left: -125px;
    font-size: 17px;

}

.frsh{
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: -80px;
    left: 78px;
    font-size: 6px;
    line-height: 7px;

}

.firstrow{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    justify-content: space-between;

    padding-left: 70px;
    gap: 30px;
    align-items: center;
}

.secondrow{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    justify-content: space-between;

    padding-left: 70px;
    gap: 30px;
    align-items: center;
    padding-right: 30px;
}

.unc{
    font-family: 'stretch_proregular';
    font-size: 30px;
}

.beat{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin-top: 80px;
}








@font-face {
    font-family: 'holidays_homeworkregular';
    src: url('holidays_homework-webfont.woff2') format('woff2'),
         url('holidays_homework-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

