.credits-title{   font-size:60px;
    font-family:  'stretch_proregular';
    text-align: center;}

.links{
    font-size: 20px;
    text-align: center;
    padding-top: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.credits-page{
    padding-top: 300px;
}