.trkimg{
    display: flex;
}

.trk{
    position: relative;
    padding-top: 200px;
}

.bytr{
    font-size: 35px;
    text-align: center;
    font-family: 'LEDLIGHT';
    padding-top: 300px;
    padding-left: 300px;
}

.hul{
 padding-top: 100px;
}

.pla{
    font-size: 25px;
    font-family:  'stretch_proregular';
    padding-left: 40px;

}



@font-face {
    font-family: 'LEDLIGHT';
    src: url('LEDLIGHT.woff2') format('woff2'),
        url('LEDLIGHT.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.sonmg{
    position: relative;
    float: right;
    top:-50px;
    right: 40px;
    color: black;
}

.rhap_container {
    box-shadow: none!important;
}

.rhap_volume-controls {
    display: none!important;
}
.rhap_progress-section {
    display: none!important;
}

.rhap_additional-controls {display: none!important;}
.rhap_forward-button {display: none!important;}
.rhap_rewind-button {display: none!important;}
.rhap_main-controls-button{color: black!important ;}

.meaningtrack{
    position: relative;
    display: flex;
    top:-390px;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    left: 200px;
    line-height: 15px;

    
    
}
