.trkimg{
    display: flex;
}

.bytr{
    font-size: 35px;
    text-align: center;
    font-family: 'LEDLIGHT';
    padding-top: 300px;
    padding-left: 300px;
}

.hul{
 padding-top: 100px;
}

.pla{
    font-size: 25px;
    font-family:  'stretch_proregular';
    padding-top: 250px;
    padding-left: 40px;

}



@font-face {
    font-family: 'LEDLIGHT';
    src: url('LEDLIGHT.woff2') format('woff2'),
        url('LEDLIGHT.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}