.titleforanima{
    font-size: 50px;
    font-family:  'stretch_proregular';
    padding-left: 40px;
    margin-right: 20px;
    padding-top: 70px;
    text-align: right;
    line-height: 50px;
}

.anima{
    padding-top: 140px;
    padding-bottom: 400px;
    
}

.fulltitle{
    display: flex;
    flex-direction: row;

}

.logouts{
    float: right;
}

.lorem{
    font-size: 40px;
    text-align: center;
    padding-top: 200px;
    font-family: 'LEDLIGHT';
}

.lorem2{
    font-size: 20px;
    text-align: center;
}