.thankyou-title{
    font-size: 50px;
    font-family:  'stretch_proregular';
    position: relative;
    top:200px;
}

@media  (max-width: 767px) {
    .thankyou-title {
        font-size: 12px;
    }
  }