.thankyou-title{
    font-size: 50px;
    font-family:  'stretch_proregular';
    position: relative;
    top:200px;
}

.insta{
    text-decoration: none;
    color: black;
    
}

.fb{
    text-decoration: none;
    color: black;

}

.lkd{
    text-decoration: none;
    color: black;

}

.socials{
    text-align: center;
    align-items: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding: 20px 20px;
    
}

.sw{
    position: relative;
    top: 8px;
    left: -5px;

}

@media  (max-width: 767px) {
    .thankyou-title {
        font-size: 12px;
    }
  }