.rec1{
    display: inline-block;
    width: 1100px;
    height: 400px;
    outline: 2px solid black;
    position: relative;
    float: right;
    right: 60px;
}

.rec2{
    display: inline-block;
    width: 1100px;
    height: 400px;
    outline: 2px solid black;
    position: relative;
    float: right;
    right: 400px;
    top: -150px;
}

.materialtitle{
    font-size: 60px;
    font-family:  'stretch_proregular';
    padding-left: 40px;
    position: relative;
    top: 400px;
    padding-bottom: 500px;

}

.videomedia{
    padding-top: 200px;
    padding-bottom: 400px;
}

.clicky2{
    font-size: 20px;
    font-family:  'stretch_proregular';
    position: relative;
    top:400px;
    left: 40px;
}