.videotitle{
    padding-top: 80px;
    font-size: 50px;
    float: right;
    padding-right: 40px;
    font-family:  'stretch_proregular';
}

.videoedit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.videography{
    padding-top: 200px;
    padding-bottom: 400px;
}

.videologo{
    padding-left: 20px;
}

.lorem3{
    font-size: 40px;
    text-align: center;
    padding-top: 200px;
    font-family: 'LEDLIGHT';
}

.lorem4{
    font-size: 15px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: 20px;
}