.pht {
    max-width: 100vw;
    overflow: hidden;
}

.phtitle{
    font-size: 50px;
    font-family: 'stretch_proregular';
    padding-left: 40px;
    line-height: 30px;

}
.phtitle2{
    font-size: 50px;
    font-family: 'stretch_proregular';
    padding-left: 40px;
    -webkit-text-stroke: 0.5px black;
    color: white;
    
}
.phtitle3{
    font-size: 50px;
    font-family: 'stretch_proregular';
    padding-left: 40px;
    color: white;
    -webkit-text-stroke: 0.5px black;
    line-height: 30px;    
}

.titles{
    padding-top: 200px;
}

.hands{
    float: left;
    position: absolute;
    padding-top: 120px;


}

.line1{
    font-family: 'LEDLIGHT';
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 200px;
    font-size: 35px;

}

.line2{
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 15px;
    position: relative;
    top:20px;

}

.circle{
   display: flex;
   justify-content: center;
   align-items: center;
   align-self: flex-end;
   flex-direction: column;
   padding-bottom: 80px;
   text-decoration: none;

   
   
}

.circleimg{
    position: absolute;

}

.gallery{
    font-size: 40px;
    font-family:  'stretch_proregular';
    text-align: right;
    text-decoration: none;
    color: black;
    align-self: center;
    
    

}

.pht{
    display: flex;
    position: relative;
    flex-direction: column;
}

.infos{
    font-size: 9px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    padding-top: 200px;
    padding-right: 100px;
    width: fit-content;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
}

@font-face {
    font-family: 'LEDLIGHT';
    src: url('LEDLIGHT.woff2') format('woff2'),
        url('LEDLIGHT.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'linear_beam___0.5';
    src: url('linebeam-webfont.woff2') format('woff2'),
         url('linebeam-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media  (max-width: 767px){
    .phtitle{
        font-size: 30px;
    }
    .phtitle2{
        font-size: 30px;
        line-height: 30px;
    }
    .phtitle3{
        font-size: 30px;
    }

    .hands{
        position: absolute;
        top: -50px;
        left: -80px;
        

        
    }

    .pht{
        position: relative;
        top:-300px;
    }

    .line1{
        font-size: 18.6px;
        padding-left: 23px;
        padding-right: 23px;
        position: relative;
        top: -20px;
    }

    .line2{
        font-size: 3vw;
        position: relative;
        top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        
    }

    .circle{
        position: relative;
        text-align: center;
        align-items: center;
        left:80px;
        top: 80px;

    }
   
    .gallery{
        position: relative;
        left: 60px;
        font-size: 25px;
        top: 70px;
    }
}
