.titlepic{
    font-size: 40px;
    font-family: 'stretch_proregular';
    transform: rotate(-90deg);
    float: left;
    text-align: right;
    line-height: 60px;
    transform-origin: 0 0;
    padding-top: 120px;
    padding-left: 95px;
}

.pic{
    padding-top: 150px;
    left: 0;
}

.smalltext{
    font-size: 15px;
    font-family: 'stretch_proregular';
    transform: rotate(-90deg);
    transform-origin: 0 0;
    padding-top: 240px;
    padding-left: 600px;
}

.photos1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 120px;
}

.img1{
    margin-bottom: 5px;
}

.img2{
    margin-bottom: 5px;
}


.photos2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 90px;
}

.img4{
    margin-bottom: 5px;
}

.img5{
    margin-bottom: 5px;
}

.slatt{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media  (max-width: 767px){
    .img1{
        max-width: 10px;
    }

    .photos1{
        display: flex;
        flex-direction: column;
        max-width: 100px;
        height: 2px;
        justify-content: center;

    }

    .photos2{
        display: none;
        flex-direction: column;
        width: 20px;
        
    }

    .titlepic{
        font-size: 17px;
        line-height: 18px;
        position: relative;
        left:-150px;
        top: 0px;
        text-align: right;
    }
    .smalltext{
        font-size: 10px;
        position: relative;
        top:105px;
        left: -230px;
        clear: both;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }
    .slatt{
        flex-direction: column;
    }
}
