.titlegph{
    font-family:  'stretch_proregular';
    font-size: 50px;
    display: flex;
    flex-direction: column;
    line-height: 30px;

}

.tl{
    padding-left: 15px;
}

.tl2{
    padding-left: 15px;
    font-family:  'stretch_proregular';
    font-size: 50px;
    position: relative;
    top:700px;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;

}

.tl3{
    font-size: 11px;
    position: relative;
    top: 32px;
    left: 90px;
}

.da{
    display: flex;
    flex-direction: row;
    padding-top: 400px;
    bottom: 1px;
}

.tl4{
    position: relative;
    font-size: 10px;
    left:-230px;
    text-align: center;
    top: 660px;
}



.gph{
    padding-top: 200px;
    padding-left: 40px;
}

.iug{
    position: relative;
    float:left;
}

.iug2{
    float: right;
    display: flex;
    flex-direction: column;
}

.quote{
    text-align: center;
    text-align: right;
    display: flex;
    float: right;
    flex-direction: column;
    position: relative;
    bottom: 230px;
    right: 120px;
    font-size: 11px;

}

.expln2{
    font-size: 15px;
    position: relative;
    top: 0px;
    left: 80px;
    font-family: 'Times New Roman', Times, serif;
}